Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd
df= pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [2]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.loc[0:2,['PassengerId','Survived','Pclass']]

   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [22]:
import pandas as pd

def reindex_dataframe(df):
    # Generate the new index values starting from 1 and incrementing by 2
    new_index = [i for i in range(1, 2 * len(df) + 1, 2)]
    
    # Set the new index to the DataFrame
    df_reindexed = df.copy()
    df_reindexed.index = new_index
    
    return df_reindexed

# Example usage
df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [11, 22, 33, 44, 55],
    'C': [111, 222, 333, 444, 555]
})

df_reindexed = reindex_dataframe(df)
print("Re-indexed DataFrame:")
print(df_reindexed)

Re-indexed DataFrame:
   A   B    C
1  1  11  111
3  2  22  222
5  3  33  333
7  4  44  444
9  5  55  555

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [23]:
#METHOD 1

import pandas as pd
def sum_first_three(df):
    sum=0
    for i in range(3):
        sum = sum+df['Values'][i]
    return sum

df = pd.DataFrame({'Values':[10,20,30,40,50]})
print(sum_first_three(df))

60

In [27]:
#METHOD 2

def sum_of_3(df):
    sum = df.iloc[0:3,[0]].sum()
    print(sum)


df = pd.DataFrame({'Values':[10,20,30,40,50]})
sum_of_3(df)

Values    60
dtype: int64

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [35]:
def add_column(df):
    df['Word_Count'] = df['Text'].apply(lambda x :len(x.split()))
    return df2

Q5. How are DataFrame.size() and DataFrame.shape() different?

The DataFrame.size and DataFrame.shape attributes in Pandas are used to provide information about the structure of a DataFrame, but they convey different aspects of this structure.
DataFrame.size

    Definition: The DataFrame.size attribute returns the total number of elements in the DataFrame.
    Calculation: It is the product of the number of rows and the number of columns in the DataFrame.
    Type: Returns an integer.

DataFrame.shape

    Definition: The DataFrame.shape attribute returns a tuple representing the dimensionality of the DataFrame.
    Details: The tuple consists of two elements:
        The first element is the number of rows.
        The second element is the number of columns.
    Type: Returns a tuple of two integers.

Q6. Which function of pandas do we use to read an excel file?

In [36]:
# # Read an Excel file into a DataFrame
# df = pd.read_excel('path_to_your_excel_file.xlsx')

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [37]:
def add_username_column(df):
    # Check if the 'Email' column exists
    if 'Email' in df.columns:
        # Extract the username part of the email address
        df['Username'] = df['Email'].str.split('@').str[0]
    else:
        print("The DataFrame does not have an 'Email' column.")
    return df

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [41]:
import pandas as pd

def newdf(df):
    # Correct the logical condition for filtering the DataFrame
    df1 = df[(df['A'] > 5) & (df['B'] < 10)]
    return df1

# Example DataFrame
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

# Call the function and print the result
print(newdf(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [46]:
def cal_parameters(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    sd = df['Values'].std()
    print(mean,median,sd)

df = pd.DataFrame({
    'Values': [3, 8, 6, 2, 9]})
cal_parameters(df)

5.6 6.0 3.0495901363953815

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [49]:
def moving_avg(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [51]:
def weekdays(df):
    df['weekdays'] = df['updated_date'].dt.day_name()
    return df

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [52]:
import pandas as pd

def filter_dates(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the date range
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Filter the DataFrame to include only rows within the date range
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

# Example usage
data = {
    'Date': [
        '2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'
    ],
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)

# Apply the function to filter the DataFrame
filtered_df = filter_dates(df)

print(filtered_df)

        Date  Value
1 2023-01-01     20
2 2023-01-15     30
3 2023-01-31     40

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [53]:
import pandas as pd