Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Print the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd

# Create a Pandas Series
data = [4, 8, 15, 16, 23, 42, 35, 24, 53, 91]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
6    35
7    24
8    53
9    91
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
df = {'Name':['Alice','Bob','Clarie'],
        'Age':[25,30,27],
        'Gender':['Female','Male','Female']
       }

pd.DataFrame(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Clarie   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that is capable of holding data of different types. It is similar to a spreadsheet or a SQL table, where data is organized into rows and columns. Each column in a DataFrame is a Pandas Series.

Here are some key differences between a DataFrame and a Series:

    Dimensionality:
        Series: A Series is a one-dimensional labeled array capable of holding data of any type (integer, float, string, etc.).
        DataFrame: A DataFrame is a two-dimensional labeled data structure with potentially different data types in each column. It can be thought of as a collection of Series objects aligned by a common index.

    Shape:
        Series: A Series has a single dimension (rows).
        DataFrame: A DataFrame has two dimensions (rows and columns).

    Usage:
        Series: Typically used to represent a single column or row of data.
        DataFrame: Used to store and work with tabular data where you have multiple rows and columns.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:

1. `head()` and `tail()`: Used to view the first or last few rows of the DataFrame.
2. `info()`: Provides a concise summary of the DataFrame including the data types and missing values.
3. `describe()`: Generates descriptive statistics (count, mean, std, min, max, etc.) for numeric columns.
4. `set_index()`: Sets the DataFrame index using existing columns.
5. `reset_index()`: Resets the DataFrame index, moving the current index to a column and creating a new integer index.
6. `dropna()`: Drops rows with missing values (NaN).
7. `fillna()`: Fills missing values in the DataFrame with specified values.
8. `groupby()`: Groups the DataFrame using a given column and applies an aggregation function.
9. `merge()`: Merges two DataFrames on common columns or indices.
10. `pivot_table()`: Creates a spreadsheet-style pivot table as a DataFrame.
11. `sort_values()`: Sorts the DataFrame by specified column(s).
12. `apply()`: Applies a function along any axis of the DataFrame.
13. `plot()`: Generates various plots (line, bar, histogram, etc.) using Matplotlib or other libraries.

For example, you might use `groupby()` when you want to calculate summary statistics for different groups within your data, such as finding the average score for each student in a class.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options provided, both Series and DataFrame are mutable in nature. However, Panel is deprecated since pandas version 0.25.0, and it's recommended to use multi-index DataFrame or xarray instead.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
import pandas as pd

# Create a Pandas Series
data1 = [4, 8, 15, 16, 23, 42, 35, 24, 53, 91]
series1 = pd.Series(data1)
data2 = [2,4,6,4,6,3,2,1,3,2]
series2=pd.Series(data2)

df = pd.DataFrame({'Data1':series1, 'Data2':series2})
df

   Data1  Data2
0      4      2
1      8      4
2     15      6
3     16      4
4     23      6
5     42      3
6     35      2
7     24      1
8     53      3
9     91      2