Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
string_variable = "Hello, world!"
list_variable = [1, 2, 3, 4, 5]
float_variable = 3.14
tuple_variable = (10, 20, 30)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [2]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

data_types = {
    'var1': type(var1),
    'var2': type(var2),
    'var3': type(var3),
    'var4': type(var4)
}
print(data_types)

{'var1': <class 'str'>, 'var2': <class 'str'>, 'var3': <class 'list'>, 'var4': <class 'float'>}

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
# Operators explanation
# (i) / : Division operator, returns the quotient of the division
result = 10 / 3
print("10 / 3 =", result)

# (ii) % : Modulus operator, returns the remainder of the division
remainder = 10 % 3
print("10 % 3 =", remainder)

# (iii) // : Floor division operator, returns the quotient of the division rounded down to the nearest integer
result_floor = 10 // 3
print("10 // 3 =", result_floor)

# (iv) ** : Exponentiation operator, raises the first operand to the power of the second operand
result_power = 2 ** 3
print("2 ** 3 =", result_power)

10 / 3 = 3.3333333333333335
10 % 3 = 1
10 // 3 = 3
2 ** 3 = 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
# Create a list with multiple types of data and print each element with its data type
mixed_list = ['apple', 3.14, 10, True, (1, 2, 3), {'key': 'value'}, [1, 2, 3], None, 'banana', 5.55]

for item in mixed_list:
    print(item, type(item))

apple <class 'str'>
3.14 <class 'float'>
10 <class 'int'>
True <class 'bool'>
(1, 2, 3) <class 'tuple'>
{'key': 'value'} <class 'dict'>
[1, 2, 3] <class 'list'>
None <class 'NoneType'>
banana <class 'str'>
5.55 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
# Verify if a number A is divisible by number B and count how many times it's divisible
A = 24
B = 4
count = 0

while A % B == 0:
    A /= B
    count += 1

print(f"{A} is divisible by {B} {count} times.")

6.0 is divisible by 4 1 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [6]:
# Create a list containing 25 int type data and print if each element is divisible by 3 or not
numbers = list(range(1, 26))

for num in numbers:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [7]:
# Mutable vs Immutable data types
# Mutable: Data types that can be changed after creation (e.g., lists, dictionaries)
mutable_list = [1, 2, 3]
mutable_list[0] = 10
print("Mutable list:", mutable_list)

# Immutable: Data types that cannot be changed after creation (e.g., strings, tuples)
immutable_tuple = (1, 2, 3)
# immutable_tuple[0] = 10  # This will raise an error since tuples are immutable
print("Immutable tuple:", immutable_tuple)

Mutable list: [10, 2, 3]
Immutable tuple: (1, 2, 3)